language: python
dist: trusty
sudo: required
services:
  - docker
script: ./build.sh
#script: docker run -v `pwd`:`pwd` -w `pwd` ubuntu:xenial ./download-docker-pycurl.sh 10
#script: ./download-nodocker.sh 20
addons:
  artifacts:
    debug: true
    paths:
    - $(git ls-files -o | tr "\n" ":")
